.Link {
  @include recolor-icon(currentColor);
  appearance: none;
  display: inline;
  text-align: inherit;
  padding: 0;
  background: none;
  border: none;
  font-size: inherit;
  color: color('blue');
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: color('blue', 'dark');
  }
}

// Prevents the icon from wrapping on its own to the next line
.IconLockup {
  display: inline;
  white-space: nowrap;

  &::before {
    // Word joiner, same as zero-width non-breaking space
    content: '\2060';
  }
}

// Vertically centers the icon
.IconLayout {
  display: inline-flex;

  &::before {
    content: '\2060';
  }
}

.monochrome {
  color: inherit;
  @include underlined-link;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}
